{% extends 'mainlayout.njk' %}

{% block scripts %}
<script src="/showBlog.js"></script>
{% endblock %}

{% block content %}

<h2>{{ blog.title }}</h2>
<p>{{ blog.category.name }}</p>
<h3>Leírás</h3>
<pre>
{{ blog.text }}
</pre>

{% if currentUser.id == blog.user_id %}
{{ csrfField | safe }}
<a class="btn btn-primary" href="/blog/{{blog.id}}/edit" role="button">Szerkeszt</a>
<a id="btnDelete" class="btn btn-danger" href="/blog/{{blog.id}}/delete" role="button">Töröl</a>
<span class="help-block"></span>

<div class="modal fade confirm-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
        <div class="modal-body">
            Biztosan törölni szeretnéd?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success modal-ok" data-dismiss="modal">OK</button>
            <button type="button" class="btn btn-danger modal-cancel" data-dismiss="modal">Mégse</button>
        </div>
        </div>
    </div>
</div>
{% endif %}

{%for com in comments %}
<div>
    <ul>
        <li>
           {{com.text}}
           {% if currentUser.id == com.user_id %}
           <form class="form-horizontal" action="" method="post">
             <a class="btn btn-danger" href="/blog/{{blog.id}}/comment/{{com.id}}/delete" role="button">Hozzászólás törlése</a>
           </form>
           {% endif %}
        </li>
    </ul>
</div>
{% endfor %}

    <form class="form-horizontal" action="" method="post">
    {{csrfField}}
        <div class="form-group">
      <label for="text" class="col-lg-2 control-label">Új hozzászólás</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="text" name="text" placeholder="Hozzászólás">
      </div>
    </div>

    <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
    </form>

{% endblock %}