{% extends 'welcomelayout' %}
 
 {% block content %}

<form class="form-horizontal">
  <fieldset>
    <legend>Nincs fiókod? Regisztrálj</legend>
    <div class="form-group">
      <label for="inputUserName" class="col-lg-2 control-label">Felhasználói név</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputUserName" placeholder="Felhasználói név">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Email-cím</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputEmail" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Jelszó</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="Jelszó">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPasswordAgain" class="col-lg-2 control-label">Jelszó mégegyszer</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="inputPasswordAgain" placeholder="Jelszó">
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary">Regisztráció</button>
      </div>
    </div>
  </fieldset>
</form>

{% endblock %}